extends layouts/template

append config
	-titulo = "Servicios"
	-paginaActual = "servicios"
block main
	h1 Servicios

	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus inventore nulla, explicabo, veritatis doloremque quam laudantium atque necessitatibus porro deserunt assumenda eveniet quibusdam ipsam, facilis hic repellendus. Sunt, similique, facilis!

	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laboriosam, aspernatur quia. Dolore eum aperiam explicabo vitae optio, odit, nam ea similique earum, enim reiciendis.
block aside
	h2 Siguenos un facebook
	a(href="http://facebook.com" target="_blank") Seguir
